<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
</head>
<body>
  <h1>Leave a Thank You email for your gifter!</h1>
  <p>To send a thank you, please follow this link <%= @url %></p>
</body>
</html>